.nav {
    width: 100%;
    position: fixed;
    height: 70px;
    transition: all 1s;
    z-index: 99999;

    &.black {
        background-color: darken($color-gray-dark-2, 25%);
    }

    &-container {
        width: 92.5%;
        height: 100%;
        margin: 0 auto;

        display: flex;
        align-items: center;

        &__logo-box {
            width: 100px;
            height: 100%;
            margin-right: $xx-large;

            .logo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        &__list {
            display: flex;
            margin-right: auto;

            &-link {
                margin-right: $large;
                color: $color-gray-light;
                font-size: $font - 0.1;
                transition: all 0.2s;

                &:hover {
                    color: $color-gray;
                }
            }
        }

        &__search {
            margin-right: $large-2;
            cursor: pointer;

            &-input {
                outline: none;
                background: none;
                border: none;
                width: 0px;
                transition: all 0.4s;
                font-size: $font;

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                }
            }

            &-icon {
                font-size: $font + 0.2;
                margin: 0 $medium;
            }

            &:hover {
                background-color: $color-black;
                border: 1px solid $color-white;
                padding: $medium $small;
                .nav-container__search-input {
                    width: 250px;
                }
            }
        }

        &__profile {
            margin-right: $large-2;
            &-name {
                text-transform: uppercase;
                font-size: $font - 0.1;
            }
        }

        &__notify {
            position: relative;

            &-icon {
                margin-right: $large-2;
                font-size: $font + 0.5;
            }

            &-options {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                top: 52px;
                right: 18px;
                width: 400px;
                height: 368px;
                background-color: rgba($color-black, 0.75);
                transition: all 0.25s;
                border-top: 2px solid $color-white;
                border-bottom: 1px solid $color-gray;
                border-left: 1px solid $color-gray;
                border-right: 1px solid $color-gray;

                &::before {
                    top: -10px;
                    right: 10px;
                    @include css-triangle($color-white, up, 9px);
                }
            }

            &:hover &-options {
                opacity: 1;
                visibility: visible;
            }
        }

        &__account {
            display: flex;
            cursor: pointer;
            position: relative;

            &-box {
                position: relative;
                width: 35px;
                height: 35px;
                background-image: url("../../images/profile-image-1.png");
                background-size: cover;
                margin-right: $medium-2;

                &-options {
                    visibility: hidden;
                    opacity: 0;
                    top: 55px;
                    left: -110px;
                    position: absolute;
                    width: 175px;
                    height: 325px;
                    background-color: $color-black;
                    transition: all 0.25s;
                    border: 1px solid $color-gray-dark;
                    
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &__list-1 {
                        padding: $large $medium-2;
                        font-size: $font - 0.2;

                        li {
                            &:not(:last-child) {
                                margin-bottom: $medium-2;
                            }
                            a {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 35px;
                                    height: 100%;
                                    margin-right: $medium-2;
                                }
                            }
                        }
                    }

                    &__list-2 {
                        padding: 0 $medium-2;
                        font-size: $font - 0.2;

                        li {
                            &:first-child {
                                padding-bottom: $large;
                                margin-bottom: $medium-2;
                                border-bottom: 1px solid $color-gray-dark;
                            }

                            &:not(:first-child) {
                                font-weight: 500;
                            }

                            margin-bottom: $medium;
                        }
                    }

                    &::before {
                        top: -10px;
                        left: 120px;
                        @include css-triangle($color-white, up, 7px);
                    }
                }
            }

            &:hover {
                .nav-container__account-box {
                    &-options {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            &::after {
                top: 16px;
                left: 45px;
                @include css-triangle($color-white, down, 5px);
            }
        }
    }
}
