.profiles {
    height: 100vh;
    background-color: $color-gray-dark-2;
    @include relative();

    &__logo-box {
        width: 125px;
                @include absolute($top: 0, $left: 50px);


        .logo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__profile-box {
                @include absolute($top: 50%, $left: 50%);

        transform: translate(-50%, -50%);
        text-align: center;

        .heading-primary {
            font-size: $font * 3.5;
            font-weight: 400;

            @media (max-width: 480px) {
                font-size: $font * 2;
            }

            @media (max-width: 768px) {
                font-size: $font * 2.5;
            }
        }

        &-profiles {
            margin-top: $x-large;
            margin-bottom: $x-large;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            flex-wrap: wrap;
            transition: all 0.3s;

            width: 65vw;

            @media (max-width: 480px) {
                width: 70vw;
            }

            [class^="profile-"] {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: $xx-large-2;

                width: 150px;
                height: 155px;

                @media (max-width: 768px) {
                    width: 100px;
                    height: 105px;
                }

                @media (max-width: 480px) {
                    width: 70px;
                    height: 75px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border: 5px solid $color-gray-dark;
                    margin-bottom: $small-2;
                }

                &:hover {
                    img {
                        border: 5px solid $color-white;
                    }

                    p {
                        color: $color-white;
                    }
                }

                p {
                    color: $color-gray;
                    font-size: $font + 0.3;
                }
            }
        }

        &-btn {
            display: inline-block;
            padding: $medium-2 $x-large;
            border: 1px solid $color-gray;
            color: $color-gray;
            font-size: $font * 1.2;
            text-transform: uppercase;
            letter-spacing: 0.2em;

            &:hover {
                color: $color-white;
                border: 1px solid $color-white;
            }
        }
    }
}
