.shows {
    width: 92.5%;
    // height: 600px;
    margin: 0 auto;

    .popular-shows {
        display: flex;
        margin-bottom: $xx-large;
    }
}

.section-feature-show {
    margin-bottom: $xx-large-2;
    background-image: linear-gradient(
            to bottom,
            rgba($color-gray-dark-2, 0.5),
            rgba($color-gray-dark-2, 0.5)
        ),
        url(../../images/feature-show-bg.webp);
    background-size: cover;
    position: relative;
    padding: $xx-large-2 0;

    &::before {
        background: linear-gradient(
            to bottom,
            $color-gray-dark-2,
            rgba(255, 255, 255, 0)
        );
        content: "";
        display: block;
        height: 10%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    &::after {
        background: linear-gradient(
            to top,
            $color-gray-dark-2,
            rgba(255, 255, 255, 0)
        );
        content: "";
        display: block;
        height: 10%;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .feature__show {
        width: 92.5%;
        margin: 0 auto;
        display: flex;
        z-index: 999;

        &-video {
            width: 60%;
            z-index: 9;
            position: relative;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.25);

            img {
                width: 100%;
                position: absolute;
                animation: fadein 1s 3s forwards;
                z-index: 99;
            }

            .video {
                width: 100%;
            }

            &__sound-btn {
                position: absolute;
                bottom: 85px;
                right: 125px;

                a {
                    &:last-child {
                        display: none;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                    border: 2px solid $color-white;

                    a {
                        &:first-child {
                            display: none;
                        }
                        &:last-child {
                            display: block;
                        }
                    }
                }
            }

            &__maturity-rating {
                width: 70px;
                height: 20px;
                position: absolute;
                bottom: 80px;
                right: 0;
                background-color: rgba($color-white, 0.1);
                padding: $medium-2 $large;
                font-size: $font + 0.25;
                border-left: 3px solid $color-white;
            }
        }

        &-desc {
            width: 35%;
            display: flex;
            flex-direction: column;
            margin-top: auto;

            .feature__show-title {
                img {
                    width: 550px;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-links {
            display: flex;
            margin: $large-2 0;
        }

        &-supplemental {
            font-size: $font + 0.15;
        }

        &-synopsis {
            font-size: $font + 0.25;
        }
    }
}
