// .card {
//     width: 250px;
//     height: 140px;
//     border-left: 3px solid transparent;
//     border-right: 3px solid transparent;
//     position: relative;
//     transition: all 0.5s;
//     overflow: hidden;
//     img {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         z-index: -9;
//     }

//     &__hover {
//         &-options {
//             visibility: hidden;
//             position: absolute;
//             top: 40%;
//             left: 2.5%;

//             div {
//                 margin-bottom: $medium;
//                 span {
//                     margin-right: $medium;
//                 }
//             }

//             .row-1 {
//                 font-size: $font + 0.25;
//                 font-weight: bold;
//             }

//             .row-2 {

//                 .time {
//                     color: greenyellow;
//                     font-weight: 700;
//                 }
//                 .maturity {
//                     border: 1px solid $color-white;
//                     padding: $small $medium;
//                 }
//             }

//             &-btns {
//                 position: absolute;
//                 top: -50px;
//                 right: -275px;

//                 div {
//                     margin-bottom: $medium;
//                 }
//             }
//         }
//         video {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             visibility: hidden;
//             z-index: -2;
//         }
//     }

//     &:hover {
//         transition-delay: 0.5s;

//         width: 500px;
//         height: 275px;
//         transform: translateY(-70px);
//         border: 2px solid $color-black;

//         .card__hover {
//             &-options,
//             video {
//                 transition-delay: 1.5s;
//                 visibility: visible;
//             }
//         }
//     }
// }
